.verify-btn{
    color: #198754;
    font-size: 16px;
    border: 2px solid rgb(25, 135, 84);  ;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: transparent;
    font-weight: bold;
    transition: all 0.2s;
}
.verify-btn:hover{
    color: white;
    background-color: #198754 ;

}
.verify-icon{
    background-color: #198754;
    padding: 3px;
}